
<%if current_user.id == @user.id && current_user.admin? %>
	<%= link_to "Verify recipes of other users", admin_path %> <br/>
<%elsif current_user.id == @user.id%>
	<%= link_to "Create my own recipe", new_recipe_path %> <br/>
	<%= link_to "My favourite recipes", user_recipe_index_path(current_user.id) %>

	<h1 class="text-center"> My recipes: </h1><br/>

	<div class="row">
		<%@my_recipes.each do |my_r|%>
		<div class="col-sm-3">
		  	<div class="card">
		    <img src="<%=my_r.image.url%>" class="card-img-top">
		    <div class="card-body">
		      <h5 class="card-title"><%= my_r.title %></h5>
		      <p class="card-text"><b>Ingredients: </b><%=my_r.ingredients%></p>
		      <p class="card-text"><b>How to cook:</b> <%=my_r.description%></p>
		      <% if my_r.verify? %>
		      	<p class="card-text"><small class="text-muted">Status: Accepted</small></p>
				<%elsif my_r.verify == false %>
					<p class="card-text"><small class="text-muted">Status: Unverified</small></p>
				<%else%>
					<p class="card-text"><small class="text-muted">Status: Processing</small></p>
					<%= link_to "Edit", edit_user_recipe_path(current_user.id, my_r.id)%>
				<%end%>
				<%= link_to "Delete", user_recipe_path(current_user.id, my_r.id), method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?' }, :class => "btn btn-danger" %>
		    </div>
		 	</div>
		</div>
	  <%end%>
	</div>
<%else%>
	<h1 class="text-center">Recipes by this user:</h1>
	<div class="row">
		<% @recipes.each do |r| %>
		<div class="col-sm-3">
		<div class="card">
		    <img src="<%=r.image.url%>" class="card-img-top">
		    <div class="card-body">
		      <h5 class="card-title"><%= r.title %></h5>
		      <p class="card-text"><b>Ingredients:</b> <%=r.ingredients%></p>
		      <p class="card-text"><b>How to cook:</b> <%=r.description%></p>
		      <%if @users_recipes.find_by(user_id: current_user.id) && @users_recipes.find_by(recipe_id: r.id)%>
					<i class="fas fa-heart" style="color: red"></i>
				<%else%>
					<div class="add">
					<%=link_to "Add to my favourites", user_recipe_create_path(user_id: current_user.id, id: r.id), method: :post, remote: true, class: "span"%>	
					<i class="fas fa-heart hide-icon icon" style="color: red"></i>
					</div>
	 			<%end%>
				<br/>

				<div class="like" >
				<%if !(@votes.find_by(user_id: current_user.id) && @votes.find_by(recipe_id: r.id)) %>
					<button class='vote-btn btn-outline-success', style="border-radius: 10px", value="<%= r.id %>">Like</button
				<%end%>
					<p class="vote-count-<%=r.id%>"> Likes: <%= r.votes.count %> </p>
				</div>
			</div>
		</div>
		</div>
		<% end %>
	 </div>
<%end%>

<style type="text/css">
	.hide-icon{
	  display: none;
}
</style>

<script type="text/javascript">
	$('.vote-btn').click(function(event){
	event.preventDefault();
	var recipeId = {
		'id': $(this).attr('value')
	}
	$.ajax({
		method: 'POST',
		url: `/recipe/${recipeId['id']}/votes`,
		data: recipeId,
		dataType: 'JSON',
		success: function(data){
			if(data.message == 'Successful'){
				$(`.vote-count-${recipeId['id']}`).html(`Likes: ${data.new_count}`)
			}else if (data.message == 'Failed'){
			}
		}
	});
	});

 	$('.like').click(function(event){
 	var button = $(this).children('.vote-btn');
 	button.addClass("hide-icon");
 	
 	});


	$('.add').click(function(event){
	var span = $(this).children('.span');
	var icon = $(this).children('.icon')
	span.addClass("hide-icon");
	icon.removeClass("hide-icon");
	});
</script>


