
<div class="row">
	<% @recipes.each do |r| %>
	<div class="col-sm-3">
		<div class="card">
			<%if r.picture != nil%>
		    	<img src="<%=r.picture%>" class="card-img-top">
		    <%else%>
				<img src="<%=r.image.url%>" class="card-img-top">
			<%end%>

		    <div class="card-body">
			    <%if r.source == nil%>
			    	<a href="<%=user_path(r.reference_id)%>"><h5 class="card-title"><%=r.title%></h5></a>
			    <%else%>
			    	<a href="<%=r.source%>"><h5 class="card-title"><%=r.title%></h5></a>
			    <%end%>

			    <%if @users_recipes.find_by(user_id: current_user.id) && @users_recipes.find_by(recipe_id: r.id)%>
					<i class="fas fa-heart" style="color: red"></i>
				<%else%>
					<div class="add">
					<%=link_to "Add to my favourites", user_recipe_create_path(user_id: current_user.id, id: r.id), method: :post, remote: true, class: "span"%>	
					<i class="fas fa-heart hide-icon icon" style="color: red"></i>
					</div>
	 			<%end%>
				<br/>

				<div class="like" >
				<%if !(@votes.find_by(user_id: current_user.id) && @votes.find_by(recipe_id: r.id)) %>
					<%= link_to "Like", vote_path(r.id), remote: true, method: :post , class: "vote-btn", value: "#{r.id}"%>
					
				<%end%>
					<p class="vote-count-<%=r.id%>"> Likes: <%= r.votes.count %> </p>
				</div>
			</div>
		</div>
	</div>
	<% end %>
					</form>  
					<input type="hidden" id="page_is_dirty" name="page_is_dirty" value="0" />
					  <form name="ignore_me">
</div>

<script type="text/javascript">
	var dirty_bit = document.getElementById('page_is_dirty');
if (dirty_bit.value == '1') window.location.reload();
function mark_page_dirty() {
    dirty_bit.value = '1';
}
</script>

