
<div class = "container col-md-10 text-center">
  <div class="text-field">	

    <%= form.label :title, :style => "font-size: 18px" %>
    <%= form.text_field :title, type: 'form-control', :class => "form-control required" %>
  </div>
 <br/>

  <div class="text-field">	
    <%= form.label :ingredients, :style => "font-size: 18px" %>
    <%= form.text_field :ingredients, type: 'form-control', :class => "form-control" %>
  </div>

  <div class="text-field">  
    <%= form.label :how_to_cook, :style => "font-size: 18px" %>
    <%= form.text_field :description, type: 'form-control', :class => "form-control" %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image, :class => "form-control required" %>
  </div>
 <br/>

  <div>
  <%= form.submit :class => "btn btn-outline", :style => "border-color: #3ac9c6; color: #3ac9c6" %>
  </div>

</div>
